.o-stlgGrid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  width: 100%;

  &__item {
    height: 30rem;
    background-color: clr('stnav');

    &:nth-child(even) {
      opacity: .8;
    }
  }
}
