@use 'sass:color';

.t-styleguide {
  position: relative;
  background-color: clr('stbg');
  color: clr('stcolor');

  // Fonts

  &__h1 {
    font-weight: 700;
    font-size: 6rem;
    font-family: $font-styleguide;
  }

  &__h2 {
    font-weight: 700;
    font-size: 4.8rem;
    font-family: $font-styleguide;
  }

  &__h3 {
    font-weight: 700;
    font-size: 3.2rem;
    font-family: $font-styleguide;
  }

  &__h4 {
    color: clr('stgray');
    font-weight: 500;
    font-size: 1rem;
    font-family: $font-styleguide;
    text-transform: uppercase;
  }

  &__h5 {
    color: clr('stgray');
    font-weight: 500;
    font-size: 1rem;
    font-family: $font-styleguide;
  }

  &__navText {
    font-weight: 700;
    font-size: 1.4rem;
    font-family: $font-styleguide;

    &:hover {
      opacity: 0.6;
    }
  }

  &__color {
    font-weight: 700;
    font-size: 1.8rem;
    font-family: $font-styleguide;
  }

  &__p {
    color: clr('stgray');
    font-size: 1.8rem;
    font-family: $font-styleguide;

    strong {
      font-weight: 700;
    }
  }

  &__button {
    padding: 1rem 1.5rem;
    border-radius: .4rem;
    background-color: color.adjust(clr('stnav'), $lightness: -20%);
    color: clr('white');
    font-weight: 700;
    font-size: 1.2rem;
    font-family: $font-styleguide;

    &:hover {
      background-color: color.adjust(clr('stnav'), $lightness: -30%);
    }
  }


  &__header {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: clr('stnav');
    color: clr('stcolorinvert');
  }

  &__toast {
    position: fixed;
    right: spacing(reg);
    bottom: spacing(reg);
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
    max-width: 50rem;
    padding: 2rem;
    border-radius: .4rem;
    background-color: color.adjust(clr('stnav'), $lightness: -20%);
    color: clr('white');
    cursor: pointer;

    h3 {
      font-weight: 700;
      font-size: 1.4rem;
      font-family: $font-styleguide;
      pointer-events: none;
    }

    p {
      font-size: 1.4rem;
      font-family: $font-styleguide;
      pointer-events: none;
    }
  }

  &__section {
    width: col(24);
    padding-bottom: 6rem;
    background-color: clr('white');


    > header {
      margin-bottom: col(1);
      padding-top: 6rem;
      padding-bottom: 6rem;
      background-color: clr('stbg');

      .t-styleguide__h4 {
        margin-bottom: 1.5rem;
      }

      .t-styleguide__p {
        margin-top: 3rem;
      }
    }

    > main {
      padding: 0 0 8rem;

      label {
        display: block;
        margin-bottom: spacing(sm);
      }
    }
  }

  &__separator {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid clr('stborder');
  }


  [data-action="copy"] {
    cursor: pointer;

    > * {
      pointer-events: none;
    }
  }
}
