---
---
{% extends "@layouts/base.twig" %}
{% block main %}
    <h1>Index page</h1>
    {# <img src="/images/jul.png" alt="" sizes="100vw">
    <img src="/images/black-hole-wall.png" alt="" sizes="100vw"> #}
    <img src="../sources/images/cover-actualites.jpg" alt="" sizes="100vw">
    {# {{ img("sources/images/jul.png", { alt: 'test', class: 'm-image' }) }} #}
    {# {{ img("sources/images/black-hole-wall.png", { alt: 'test', class: 'm-image', sizes: '100vw' }) }} #}
{% endblock %}
