---
priority: 1
template: home
templateClass: home
title: Page d'accueil
description: description
---
{% extends "@layouts/default.twig" %}
{% block main %}
    <h1>Index page</h1>
    {% include "@snippets/atoms/button.twig" with {
        text: 'Button',
        href: '/button',
        class: 'button'
    } %}
    {{ img('cover-actualites.jpg', { alt: 'cover' }) }}


{% endblock %}
